.movie-view {
    display: flex;
    max-width: 800px;
    margin: 40px;
    background: #f9e8e8;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

.movie-view-container {
    margin-top: 20px;
}

.movie-image {
    width: 100%;
    padding: 20px 20px 0 20px; /* Add padding on all sides except the bottom */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-self: flex-start; /* Align to the top */
}

.movie-image img {
    width: 100%;
    height: auto;
}

.movie-info {
    padding: 40px;
    flex-grow: 1;
}

.movie-description {
    padding: 0 40px;
}

.back-button {
    padding: 4px 12px 4px 12px;
    margin: 0 40px 20px;
    color: rgb(248, 191, 191);
    border: none;
    border-radius: 4px;
}

// img {
//     width: 100%;
// }
